<% layout('/layouts/boilerplate')  %> 


<form action="/profile" method="POST">
    <div>
        <label for="name">Name</label>
        <input type="text" id="name" name="profile[name]">
    </div>
    <div>
        <label for="mailID">MailID</label>
        <input type="text" id="mailID" name="profile[mailID]">
    </div>
    <div>
        <label for="age">Age</label>
        <input type="number" id="age" name="profile[age]">
    </div>
    <div>
        <label for="gender">Gender</label>
        <select name="profile[gender]" id="gender">
            <% for(let ele of listOfData.genders){ %>
                <option value="<%= ele %>"><%= ele %></option>
            <% } %>
        </select>
    </div>
    <div>
        <label for="currentLocation">Current Location</label>
        <select name="profile[currentLocation]" id="currentLocation">
            <% for(let ele of listOfData.locations){ %>
                <option value="<%= ele %>"><%= ele %></option>
            <% } %>
        </select>
    </div>
    <div>
        <label for="degree">Degree</label>
        <select name="profile[degree]" id="degree">
            <% for(let ele of listOfData.degrees){ %>
                <option value="<%= ele %>"><%= ele %></option>
            <% } %>
        </select>
    </div>
    <div>
        <label for="major">Major</label>
        <select name="profile[major]" id="major">
            <% for(let ele of listOfData.majors){ %>
                <option value="<%= ele %>"><%= ele %></option>
            <% } %>
        </select>
    </div>
    <div>
        <label for="jobExperience">Job Experience (in year(s))</label>
        <input type="number" id="jobExperience" name="profile[jobExperience]">
    </div>
    <div>
        <label for="skills">Skills</label>
        <div id="skills">
            <% for(let ele of listOfData.skills){ %>
                <label><input type="checkbox" name="profile[skills][]" value="<%= ele %>"><%= ele %></label>
            <%}%>
        </div>
    </div>
    <div>
        <label for="college">College</label>
        <select name="profile[college]" id="college">
            <% for(let ele of listOfData.colleges){ %>
                <option value="<%= ele %>"><%= ele %></option>
            <% } %>
        </select>
    </div>
    <div>
        <label for="jobHistory">Job History</label>
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">
        <div id="jobHistory">
            <% for(let ele of jobs){ %>
                <label><input type="checkbox" name="profile[jobHistory][]" value="<%= ele._id %>"><%= ele.company %>(<%= ele.jobTitle%>)    <%= ele.location %></label>
            <%}%>
        </div>
    </div>
    <button>Add Profile</button>
</form>
<a href="/profile">All Profiles</a>

<script>
    function myFunction() {
        // Declare variables
        var input, filter, ul, li, input, i, txtValue;
        input = document.getElementById('myInput');
        filter = input.value.toUpperCase();
        div = document.getElementById("jobHistory");
        labels = div.getElementsByTagName('label');


        // Loop through all list items, and hide those who don't match the search query
        for (i = 0; i < labels.length; i++) {
            txtValue = labels[i].textContent || labels[i].innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
            labels[i].style.display = "";
            } else {
            labels[i].style.display = "none";
            }
        }
    }
</script>