<% layout('/layouts/recruiterBoilerplate')  %> 

<div class="text-center">
        <h2>Top 5 Profiles for your job</h2>
</div>

<div class="text-center row">
    <div class="col-10 offset-1 col-md-8 offset-md-2">
        <input id="myInput" type="text" class="form-control rounded-50" placeholder="Search" onkeyup="searchFromList()">
    </div>
</div>
<div class="row my-3" id="list">
    <% for(let i=0;i<profiles.length;i++){ %>
        <div class="card col-10 offset-1 col-md-8 offset-md-2 my-4 shadow-lg">
            <div class="card-body">
                <div class="mt-3">
                    <h4 class="card-title fw-bold d-inline">
                        <%= profiles[i].name %>
                    </h4>
                    <h6 class="card-title d-inline text-muted">
                        <%= profiles[i].mailID %>
                    </h6>
                    <hr class="m-1">
                    <div class="row">
                        <div class="col-xl-4 col-6">
                            <span class="card-text text-muted ">Age:</span>
                            <span class="card-text fs-6">
                                <%= profiles[i].age %>
                            </span>
                        </div>
                        <div class="col-xl-4 col-6">
                            <span class="card-text text-muted ">Gender:</span>
                            <span class="card-text fs-6 ">
                                <%= profiles[i].gender %>
                            </span>
                        </div>
                        <div class="col-xl-4 col-12">
                            <span class="card-text text-muted ">Current Location:</span>
                            <span class="card-text fs-6 ">
                                <%= profiles[i].currentLocation %>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="mt-4">
                    <h5 class="card-title fw-bold text-muted">Education</h5>
                    <hr class="m-1">
                    <div class="row">
                        <div class="col-lg-6 col-12">
                            <span class="card-text text-muted ">Degree:</span>
                            <span class="card-text fs-6">
                                <%= profiles[i].degree %>
                            </span>
                        </div>
                        <div class="col-lg-6 col-12">
                            <span class="card-text text-muted ">Major:</span>
                            <span class="card-text fs-6">
                                <%= profiles[i].major %>
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <span class="card-text text-muted ">College:</span>
                            <span class="card-text fs-6">
                                <%= profiles[i].college %>
                            </span>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col">
                            <span class="card-text text-muted">Skills:</span>
                            <% for(let skill of profiles[i].skills){ %>
                                <span class="bg-secondary p-1 mt-1 rounded-1 text-light d-inline-block ">
                                    <%= skill %>
                                </span>
                                <%}%>
                        </div>
                    </div>
                </div>
                <div class="mt-4">
                    <h5 class="card-title fw-bold text-muted">Experience</h5>
                    <hr class="m-1">
                    <div class="row">
                        <div class="col">
                            <span class="card-text text-muted ">Job Experience:</span>
                            <span class="card-text fs-6">
                                <%= profiles[i].jobExperience %> year(s)
                            </span>
                        </div>
                    </div>
                    <% if(profiles[i].jobHistory.length){ %>
                        <div class="row">
                            <div class="col">
                                <div class="card-text text-muted ">Job History:</div>
                                <% for(let job of profiles[i].jobHistory){ %>
                                    <div class="card m-2">
                                        <div class="card-body">
                                            <h6 class="card-title d-inline fw-bold">
                                                <%=job.jobTitle%>
                                            </h6>
                                            <span class="card-text text-muted ms-1">
                                                <%=job.company%>
                                            </span>
                                            <hr class="m-1">
                                            <div class="row">
                                                <div class="col-xl-4 col-sm-6 col-12">
                                                    <span class="card-text text-muted ">Type:</span>
                                                    <span class="card-text fs-6">
                                                        <%= job.type %>
                                                    </span>
                                                </div>
                                                <div class="col-xl-4 col-sm-6 col-12">
                                                    <span class="card-text text-muted ">Mode:</span>
                                                    <span class="card-text fs-6">
                                                        <%= job.mode %>
                                                    </span>
                                                </div>
                                                <div class="col-xl-4 col-sm-6 col-12">
                                                    <span class="card-text text-muted ">Category:</span>
                                                    <span class="card-text fs-6">
                                                        <%= job.category %>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <%}%>
                            </div>
                        </div>
                    <%}%>
                </div>
            </div>
        </div>
    <% } %> 
</div>

<script>
    function searchFromList() {
    // Declare variables
    var input, filter, ul, li, input, i, txtValue;
    input = document.getElementById('myInput');
    filter = input.value.toUpperCase();
    jobs = document.getElementById("list").children;
    

    // Loop through all list items, and hide those who don't match the search query
    for (i = 0; i < jobs.length; i++) {
        txtValue = jobs[i].textContent || jobs[i].innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
        jobs[i].style.display = "";
        } else {
        jobs[i].style.display = "none";
        }
    }
}
</script>