<% layout('/layouts/recruiterBoilerplate')  %> 

<div class="text-center">
    <h2>Top Profiles for your job</h2>
</div>

<div class="row my-3" id="jobList">
    <% if(profiles.length == 0){ %>
        <div class="card col-10 offset-1 col-md-8 offset-md-2 my-4 shadow-lg text-center bg-primary text-light">
            <div class="card-body">
                <h1 class="card-title">Sorry, No match was found :(</h1>
                <h5 class="card-text">We will try to collect more data next time</h5>
            </div>
        </div>
    <% } %> 
    <% for(let i=0;i<profiles.length;i++){ %>
        <div class="card col-10 offset-1 col-md-8 offset-md-2 my-4 shadow-lg">
            <div class="card-body">
                <h4 class="card-title text-center">
                    #<%=i+1%>
                </h4>
                <div class="mt-3">
                    <h4 class="card-title fw-bold d-inline">
                        <%= profiles[i].name %>
                    </h4>
                    <h6 class="card-title d-inline text-muted">
                        <%= profiles[i].mailID %>
                    </h6>
                    <hr class="m-1">
                    <div class="row">
                        <div class="col-xl-4 col-6">
                            <span class="card-text text-muted ">Age:</span>
                            <span class="card-text fs-6">
                                <%= profiles[i].age %>
                            </span>
                        </div>
                        <div class="col-xl-4 col-6">
                            <span class="card-text text-muted ">Gender:</span>
                            <span class="card-text fs-6 ">
                                <%= profiles[i].gender %>
                            </span>
                        </div>
                        <div class="col-xl-4 col-12">
                            <span class="card-text text-muted ">Current Location:</span>
                            <span class="card-text fs-6 ">
                                <%= profiles[i].currentLocation %>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="mt-4">
                    <h5 class="card-title fw-bold text-muted">Education</h5>
                    <hr class="m-1">
                    <div class="row">
                        <div class="col-lg-6 col-12">
                            <span class="card-text text-muted ">Degree:</span>
                            <span class="card-text fs-6">
                                <%= profiles[i].degree %>
                            </span>
                        </div>
                        <div class="col-lg-6 col-12">
                            <span class="card-text text-muted ">Major:</span>
                            <span class="card-text fs-6">
                                <%= profiles[i].major %>
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <span class="card-text text-muted ">College:</span>
                            <span class="card-text fs-6">
                                <%= profiles[i].college %>
                            </span>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col">
                            <span class="card-text text-muted">Skills:</span>
                            <% for(let skill of profiles[i].skills){ %>
                                <span class="bg-secondary p-1 mt-1 rounded-1 text-light d-inline-block ">
                                    <%= skill %>
                                </span>
                                <%}%>
                        </div>
                    </div>
                </div>
                <div class="mt-4">
                    <h5 class="card-title fw-bold text-muted">Experience</h5>
                    <hr class="m-1">
                    <div class="row">
                        <div class="col">
                            <span class="card-text text-muted ">Job Experience:</span>
                            <span class="card-text fs-6">
                                <%= profiles[i].jobExperience %> year(s)
                            </span>
                        </div>
                    </div>
                    <% if(profiles[i].jobHistory.length){ %>
                        <div class="row">
                            <div class="col">
                                <div class="card-text text-muted ">Job History:</div>
                                <% for(let job of profiles[i].jobHistory){ %>
                                    <div class="card m-2">
                                        <div class="card-body">
                                            <h6 class="card-title d-inline fw-bold">
                                                <%=job.jobTitle%>
                                            </h6>
                                            <span class="card-text text-muted ms-1">
                                                <%=job.company%>
                                            </span>
                                            <hr class="m-1">
                                            <div class="row">
                                                <div class="col-xl-4 col-sm-6 col-12">
                                                    <span class="card-text text-muted ">Type:</span>
                                                    <span class="card-text fs-6">
                                                        <%= job.type %>
                                                    </span>
                                                </div>
                                                <div class="col-xl-4 col-sm-6 col-12">
                                                    <span class="card-text text-muted ">Mode:</span>
                                                    <span class="card-text fs-6">
                                                        <%= job.mode %>
                                                    </span>
                                                </div>
                                                <div class="col-xl-4 col-sm-6 col-12">
                                                    <span class="card-text text-muted ">Category:</span>
                                                    <span class="card-text fs-6">
                                                        <%= job.category %>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <%}%>
                            </div>
                        </div>
                    <%}%>
                </div>
            </div>
        </div>
    <% } %> 
</div>
