<% layout('/layouts/recruiterBoilerplate')  %> 


<div class="text-center">
    <h2>Create Job</h2>
</div>
<div class="row">
    <div class="card shadow-lg my-3 col-lg-8 col-10 offset-1 offset-lg-2">
        <div class="card-body">
            <form id="regForm" action="/recruiter/job" method="POST">
    
                <!-- One "tab" for each step in the form: -->
                <div class="tab" style="display: none;">
                    <h3 class="card-title text-muted">Job Information</h3>
                    <div class="row">
                        <div class="mb-3 col-sm col-12">
                            <label for="company" class="form-label">Company Name</label>
                            <select class="form-select" name="job[company]" id="company" >
                                <% for(let ele of listOfData.companies){ %>
                                    <option value="<%= ele %>"><%= ele %></option>
                                <% } %>
                            </select>
                        </div>
                        <div class="mb-3 col-sm col-12">
                            <label for="jobTitle" class="form-label">Job Title</label>
                            <input class="form-control" type="text" id="jobTitle" name="job[jobTitle]" >
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-md col-sm-6 col-12">
                            <label for="category" class="form-label">Category</label>
                            <select class="form-select" name="job[category]" id="category" >
                                <% for(let ele of listOfData.categories){ %>
                                    <option value="<%= ele %>"><%= ele %></option>
                                <% } %>
                            </select>
                        </div>
                        <div class="mb-3 col-md col-sm-6 col-12">
                            <label for="type" class="form-label">Type</label>
                            <select class="form-select" name="job[type]" id="type" >
                                <% for(let ele of listOfData.types){ %>
                                    <option value="<%= ele %>"><%= ele %></option>
                                <% } %>
                            </select>
                        </div>
                        <div class="mb-3 col-md col-sm-12 col-12">
                            <label class="form-label" for="location">Location</label>
                            <select class="form-select" name="job[location]" id="location" >
                                <% for(let ele of listOfData.locations){ %>
                                    <option value="<%= ele %>"><%= ele %></option>
                                <% } %>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-sm-6 col-12">
                            <label for="mailID" class="form-label">Mail ID</label>
                            <input class="form-control" type="text" id="mailID" name="job[mailID]" value="<%= currentUser.emailID %>">
                        </div>
                        <div class="mb-3 col-sm-3 col-12">
                            <label for="salary" class="form-label">Salary</label>
                            <input class="form-control" type="number" id="salary" name="job[salary]" placeholder="in rupees per month">
                        </div>
                        <div class="mb-3 col-sm-3 col-12">
                            <label for="mode" class="form-label">Mode</label>
                            <select class="form-select" name="job[mode]" id="mode" >
                                <% for(let ele of listOfData.modes){ %>
                                    <option value="<%= ele %>"><%= ele %></option>
                                <% } %>
                            </select>
                        </div>   
                    </div>
                </div>
                
                
                <div class="tab" style="display: none;">
                    <h3 class="card-title text-muted">Requirements</h3>
                    <div class="row">
                        <div class="mb-3 col-sm-6 col-12">
                            <label for="minAge" class="form-label">Min Age</label>
                            <input class="form-control" type="number" id="minAge" name="job[minAge]"%>">
                        </div>
                        <div class="mb-3 col-sm-6 col-12">
                            <label for="minExperience" class="form-label">Min Experience</label>
                            <input class="form-control" type="number" id="minExperience" name="job[minExperience]"%>">
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-md-6 col-12">
                            <label for="degree" class="form-label">Required Degrees</label>
                            <input class="form-control" type="text" id="degreeInput" onkeyup="serachFilter('degreeInput','degree')" placeholder="Search the degree...">
                                <select class="form-select" name="job[reqDegree][]" id="degree" multiple="multiple">
                                    <% for(let ele of listOfData.degrees){ %>
                                        <option class="form-option" value="<%= ele %>" ><%= ele %></option>
                                    <%}%>
                                </select>
                        </div>
                        <div class="mb-3 col-md-6 col-12">
                            <label for="major" class="form-label">Required Majors</label>
                            <input class="form-control" type="text" id="majorInput" onkeyup="serachFilter('majorInput','major')" placeholder="Search the major...">
                                <select class="form-select" name="job[reqMajor][]" id="major" multiple="multiple">
                                    <% for(let ele of listOfData.majors){ %>
                                        <option class="form-option" value="<%= ele %>" ><%= ele %></option>
                                    <%}%>
                                </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-md-6 col-12">
                            <label for="skill" class="form-label">Required Skills</label>
                            <input class="form-control" type="text" id="skillInput" onkeyup="serachFilter('skillInput','skill')" placeholder="Search the skill...">
                                <select class="form-select" name="job[reqSkills][]" id="skill" multiple="multiple">
                                    <% for(let ele of listOfData.skills){ %>
                                        <option class="form-option" value="<%= ele %>" ><%= ele %></option>
                                    <%}%>
                                </select>
                        </div>
                        <div class="mb-3 col-md-6 col-12">
                            <label for="goodToHaveSkills" class="form-label">Good to have Skills</label>
                            <input class="form-control" type="text" id="goodToHaveSkillsInput" onkeyup="serachFilter('goodToHaveSkillsInput','goodToHaveSkills')" placeholder="Search the skill...">
                                <select class="form-select" name="job[goodToHaveSkills][]" id="goodToHaveSkills" multiple="multiple">
                                    <% for(let ele of listOfData.skills){ %>
                                        <option class="form-option" value="<%= ele %>" ><%= ele %></option>
                                    <%}%>
                                </select>
                        </div>
                        
                    </div>
                    <div class="card-title text-muted">*Use Ctrl for selecting multiple option</div>
                    
                </div>

            
                
                <div style="overflow:auto;">
                  <div style="float:right;">
                    <button class="btn btn-primary mx-1" type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
                    <button class="btn btn-primary mx-1" type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
                  </div>
                </div>
                
                
            </form>
        </div>
    </div>
</div>
<!-- Circles which indicates the steps of the form: -->
<div class="text-center my-3">
    <span class="step"></span>
    <span class="step"></span>
</div>


<script src="/javascript/multiStepForm.js"></script>
<script src="/javascript/serachFilter.js"></script>


