<% layout('/layouts/boilerplate')  %> 

<div class="text-center">
    <h2>Top Jobs for your Profile</h2>
</div>


<div class="text-center row">
    <div class="col-10 offset-1 col-md-6 offset-md-2">
        <input id="myInput" type="text" class="form-control rounded-50 mt-2 ms-0" placeholder="Search" onkeyup="searchFromList()">
    </div>
    <button class="btn btn-primary col-6 offset-3 col-md-2 offset-md-0 mt-2" onclick="sortList()">Sort by Salary</button>
</div>



<div class="row my-3" id="list">
    <% if(jobs.length == 0){ %>
        <div class="card col-10 offset-1 col-md-8 offset-md-2 my-4 shadow-lg text-center">
            <h1>Sorry, No match was found :(</h1>
            <h5>We will try to collect more data next time</h5>
        </div>
    <% } %> 

    <% for(let i=0;i<jobs.length;i++){ %>
        <div class="card col-10 offset-1 col-md-8 offset-md-2 my-4 shadow-lg">
            <div class="row g-0">
                <div class="col-12 col-md-1  d-flex align-items-center justify-content-center mt-4 mt-md-0">
                    <h5 class="text-title">#<%= i+1 %></h5>
                </div>
                <div class="col-12 col-md-11">
                    <div class="card-body">
                        <div class="mt-0 mt-md-3">
                            <h4 class="card-title fw-bold d-inline">
                                <%= jobs[i].jobTitle %> <span class="card-title fs-5 text-muted fw-bold">(<%= jobs[i].company %>)</span>
                            </h4>
                            <hr class="m-1">
                            <div class="row">
                                <div class="col-md-6 col-12 mt-1">
                                    <span class="card-text text-muted ">Category:</span>
                                    <span class="card-text fs-6">
                                        <%= jobs[i].category %>
                                    </span>
                                </div>
                                <div class="col-md-6 col-12 mt-1">
                                    <span class="card-text text-muted ">Location:</span>
                                    <span class="card-text fs-6 ">
                                        <%= jobs[i].location %>
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 col-12 mt-1">
                                    <span class="card-text text-muted ">Type:</span>
                                    <span class="card-text fs-6 ">
                                        <%= jobs[i].type %>
                                    </span>
                                </div>
                                <div class="col-md-3 col-12 mt-1">
                                    <span class="card-text text-muted ">Mode:</span>
                                    <span class="card-text fs-6 ">
                                        <%= jobs[i].mode %>
                                    </span>
                                </div>
                                <div class="col-md-6 col-12 mt-1">
                                    <span class="card-text text-muted">Salary:</span>
                                    <span class="card-text fs-6 salary">
                                        <%=jobs[i].salary%>
                                    </span>
                                    <span class="card-text fs-6">
                                        Rupees / month
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="text-end">
                            <a href='/job/<%= jobs[i]._id %>' class="btn btn-outline-primary btn-sm mt-3">View</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <%}%>
</div>
<script src="/javascript/searchFromList.js"></script>

<script src="/javascript/sortList.js"></script>